{
  "plugins": ["prettier-plugin-tailwindcss"],
  "jsxSingleQuote": true,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "printWidth": 120
}
