@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* todo match others with "muted" */
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --muted2: 0, 0%, 96.1%;
    --muted2-foreground: 0 0% 82%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 269, 66%, 50%;
    --destructive-foreground: 266, 95%, 97%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 0 0% 5.4%;
    --foreground: 0 0% 88%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 88%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 88%;
    --primary: 0 52.2% 50.6%;
    --primary-foreground: 0 65.7% 97.3%;
    --secondary: 0 0% 9%;
    --secondary-foreground: 0 0% 88%;
    --muted: 0 0% 9%;
    --muted-foreground: 0 0% 58%;
    --muted2: 0, 0%, 9%;
    --muted2-foreground: 0 0% 20%;
    --accent: 0 0% 9%;
    --accent-foreground: 0 0% 88%;
    --destructive: 269, 86%, 66%;
    --destructive-foreground: 266, 95%, 97%;
    --border: 0 0% 9%;
    --input: 0 0% 14.9%;
    --ring: 0 52.2% 50.6%;
  }
}

@font-face {
  font-family: 'Vector';
  src:
    url('/src/assets/fonts/vector_regular_otf-webfont.woff2') format('woff2'),
    url('/src/assets/fonts/vector_regular_otf-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-background text-foreground;
  }

  a,
  button {
    @apply focus-visible-styles;
  }

  a:hover {
    @apply cursor-pointer;
  }
}

@layer components {
  .h-input {
    @apply h-10;
  }

  .min-touch-target-wrapper {
    @apply flex-center;
    min-width: 2rem;
    min-height: 2rem;
  }

  .scroll-area {
    @apply -mx-2 -mr-4 h-full pr-2;
  }

  .details-tiles-wrapper {
    @apply mt-8 grid grid-cols-[repeat(auto-fill,_minmax(10rem,_1fr))] gap-4;
  }

  .details-profile-wrapper {
    @apply relative mt-6 flex flex-col items-center;
  }

  .details-character-name {
    @apply mt-2 w-full text-center text-2xl font-medium;
  }

  .article {
    @apply px-page-mobile pt-page-mobile md:pt-0;

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      @apply mb-4 font-bold;
    }

    & h1 {
      @apply text-3xl;
    }

    & h2 {
      @apply text-2xl;
    }

    & h3 {
      @apply text-xl;
    }

    & p {
      @apply mb-4;
    }

    & ul {
      @apply mb-4 ml-6 list-disc;
    }

    & ol {
      @apply mb-4 ml-6 list-decimal;
    }

    & li {
      @apply mb-1;
    }
  }
}

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h-body-no-scroll {
    height: calc(100vh - 80px);
  }

  .w-screen-pad {
    width: calc(100vw - 32px);
  }

  .w-screen-pad-lg {
    width: calc(100vw - 64px);
  }

  .focus-visible-styles {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
  }

  @keyframes horizontal-scroll-animation {
    to {
      transform: translateX(-100%);
    }
  }
}
