@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* todo match others with "muted" */
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --muted2: 0, 0%, 96.1%;
    --muted2-foreground: 0 0% 82%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 269, 66%, 50%;
    --destructive-foreground: 266, 95%, 97%;
    --success: 142.1 76.2% 36.3%;
    --success-foreground: 144.9 80.4% 97.4%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.75rem;
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

  .dark {
    --background: 0 0% 4.7%;
    --foreground: 0 0% 90%;
    --card: 0 0% 7%;
    --card-foreground: 0 0% 90%;
    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 90%;
    --primary: 0 48% 52%;
    --primary-foreground: 0 65.7% 97.3%;
    --secondary: 0 0% 9%;
    --secondary-foreground: 0 0% 90%;
    --muted: 0 0% 9%;
    --muted-foreground: 0 0% 60%;
    --muted2: 0, 0%, 11%;
    --muted2-foreground: 0 0% 45%;
    --accent: 0 0% 5%;
    --accent-foreground: 0 0% 80%;
    --destructive: 269, 80%, 66%;
    --destructive-foreground: 266, 95%, 97%;
    --success: 142.1 76.2% 36.3%;
    --success-foreground: 144.9 80.4% 97.4%;
    --border: 0 0% 13%;
    --input: 0 0% 14.9%;
    --ring: 0 48% 52%;
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
}

@font-face {
  font-family: 'Vector';
  src:
    url('/fonts/vector_regular_otf-webfont.woff2') format('woff2'),
    url('/fonts/vector_regular_otf-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  a,
  button {
    @apply focus-visible-styles;
  }

  a:hover {
    @apply cursor-pointer;
  }
}

@layer components {
  .h-input {
    @apply h-10;
  }

  .min-touch-target-wrapper {
    @apply flex-center;
    min-width: 2rem;
    min-height: 2rem;
  }

  .scroll-area {
    @apply -mx-2 -mr-4 h-full pr-2;
  }

  .details-tiles-wrapper {
    @apply mt-8 grid grid-cols-[repeat(auto-fill,_minmax(10rem,_1fr))] gap-4;
  }

  .details-profile-wrapper {
    @apply relative mt-6 flex flex-col items-center;
  }

  .details-character-name {
    @apply mt-2 w-full text-center text-2xl font-medium;
  }

  .article {
    @apply mx-auto max-w-3xl p-6;

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      @apply mb-4 scroll-m-20 tracking-tight text-foreground;
    }

    & h1 {
      @apply mb-8 text-4xl font-extrabold lg:text-5xl;
    }

    & h2 {
      @apply mb-4 mt-10 border-b pb-2 text-3xl font-semibold first:mt-0;
    }

    & h3 {
      @apply mb-4 mt-8 text-2xl font-semibold;
    }

    & h4 {
      @apply mb-4 mt-6 text-xl font-semibold;
    }

    & p {
      @apply mb-6 leading-7 [&:not(:first-child)]:mt-6;
    }

    & ul {
      @apply my-6 ml-6 list-disc [&>li]:mt-2;
    }

    & ol {
      @apply my-6 ml-6 list-decimal [&>li]:mt-2;
    }

    & blockquote {
      @apply mt-6 border-l-2 border-primary pl-6 italic;
    }

    & a {
      @apply font-medium underline underline-offset-4 transition-colors hover:text-primary;
    }

    & code {
      @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
    }
  }
}

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h-body-no-scroll {
    height: calc(100vh - 80px);
  }

  .w-screen-pad {
    width: calc(100vw - 32px);
  }

  .w-screen-pad-lg {
    width: calc(100vw - 64px);
  }

  .focus-visible-styles {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
  }

  @keyframes horizontal-scroll-animation {
    to {
      transform: translateX(-100%);
    }
  }
}
